doc/*/build/
sw/matlab/*/codegen/lib/*/examples
sw/matlab/*/codegen/lib/*/html
sw/matlab/*/codegen/lib/*/interface
sw/matlab/*/codegen/lib/*/*.bat
sw/matlab/*/codegen/lib/*/*.dmr
sw/matlab/*/codegen/lib/*/*.mat
sw/matlab/*/codegen/lib/*/*.mk
sw/matlab/*/codegen/lib/*/*.o
sw/matlab/*/codegen/lib/*/*.rsp
sw/matlab/*/codegen/lib/*/*.tmw
sw/matlab/*/codegen/mex
